
services:
  app:
    build: .
    container_name: tra_api
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy  
      redis:
        condition: service_healthy
    networks:
      - proj_network

  db:
    image: postgres:15
    container_name: tra_db
    restart: always
    environment:
      POSTGRES_DB: tra_api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5  
    networks:
      - proj_network

  redis:
    image: redis:7
    container_name: tra_redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:  
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - proj_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: tra_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - proj_network

volumes:
  postgres_data:

networks:
  proj_network:
    driver: bridge
